<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>目录</a>
            </li>
            <li class="active">
                <strong>@ViewContext.RouteData.Values["controller"].ToString()</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
