@{
    ViewBag.Title = "Home Page";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


 
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">This is page content</h3>
        <div class="error-desc">
            You can create here any grid layout you want. And any variation layout you imagine:) Check out
            main dashboard and other site. It use many different layout.
            <br /><a href="index.html" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>
