
<div class="modal fade" id="resetpasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">重置密码</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 ">
                        <form id="resetpassword-form" class="smart-form client-form" novalidate>
                            <fieldset>
                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="rusername" placeholder="Username" id="rusername" autocomplete="off" value="">
                                        <input type="hidden" id="ruserid" name="ruserid" value="" />
                                        <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
                                    </label>
                                </section>
                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="rpassword" placeholder="New password" id="rpassword" autocomplete="off">
                                        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    </label>
                                </section>
                                <section>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="rpasswordConfirm" id="rpasswordConfirm" placeholder="Confirm new password" autocomplete="off">
                                        <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    </label>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" onclick="setpassword()" class="btn btn-primary">
                    重置密码
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    var $resetForm = {};
    $(function () {
        $resetForm = $("#resetpassword-form").validate({

            // Rules for form validation
            rules: {
                rusername: {
                    required: true
                },

                rpassword: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                rpasswordConfirm: {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                    equalTo: '#rpassword'
                }

            },

            // Messages for form validation
            messages: {
                rusername: {
                    required: 'Please enter your user name'
                },

                rpassword: {
                    required: 'Please enter your password'
                },
                rpasswordConfirm: {
                    required: 'Please enter your password one more time',
                    equalTo: 'Please enter the same password as above'
                }

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
    

    function showresetform(userid, username) {
        $('#rusername').val(username);
        $('#ruserid').val(userid);
        console.log(userid);
        $('#resetpasswordModal').modal('toggle');
    }
    function setpassword() {
        if ($resetForm.valid()) {
            var id = $('#ruserid').val();
            var password = $('#rpassword').val();
            var url = "/AccountManage/ResetPassword?id=" + id + "&newPassword=" + password;

            $.get(url, function (res) {
                console.log(res);
                if (res.Succeeded) {
                    $('#resetpasswordModal').modal('toggle');
                } else {
                    $.messager.alert("错误",res.Errors[0])
                }
            });
           
        }

    }
</script>