@model WebApp.Models.Category
@{  ViewBag.Title = "产品目录维护 | Edit";} 
<!-- MAIN CONTENT -->
<div id="content">
     <!-- quick navigation bar -->
     <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                @{ 
                  //TODO:fix quick navigation path
                 }
                路径
                <span>
                    >
                    产品目录维护
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

        </div>
     </div>
     <!-- end quick navigation bar -->

     <!-- NEW WIDGET START -->
    <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"
            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2> 产品目录维护 </h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding ">

                        <form id="category_form" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
                            <!--form toolbar-->
                            <div id="form_toolbar" style="height:auto" class="datagrid-toolbar">
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="append()">新增</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-paperclip',plain:true" onclick="importexcel()">EXCEL 导入</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-download-alt',plain:true" onclick="exportexcel()">导出 Excel</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-refresh',plain:true" onclick="reload()">刷新</a>
                            </div>
                             <!--form toolbar-->
                             <header>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </header>
                           
                            @*@Html.AntiForgeryToken()*@
                            @Html.Partial("EditForm")
                         </form>		 

                 </div>
                 <!-- end widget content -->
                 </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->


    </article>
    <!-- WIDGET END -->
  
 
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
   
    <script type="text/javascript">
	
    		var categoryid = 0;
		var ObjectState = "Modified";   
                                 
             var $productsdatagrid = $("#products_datagrid");
                        $(document).ready(function () {
				categoryid = $("#Id", "form").val();
                $("form").submit(function () {
					if (!$("form").valid())
						return false;
                    //var token = $("[name=__RequestVerificationToken]").val();
                    //var serializedForm = $(this).serialize();
                    var actionurl = $(this).attr("action");
                    						if (!products_endEditing())
								return false;                                         
                        var products = $productsdatagrid.datagrid("getChanges");
                                         
                     var newitem = {
						

                        								//primaryKey   
								Id: categoryid,
                                                        Name: $("#Name", "form").val(),
                        								//detailTables
                                Products: products ,
                                                ObjectState:ObjectState 
                    };
                    $.ajax({
                        url: actionurl,
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(newitem),
                        success: function (result) {
                            if (result.success) {
                                self.location = "/Categories/Index";
                            } else {
                                alert(result.err);
                            }
                            
                        },
                        error: function (result) {
                            console.log(result.statusText + result.responseText);
                            alert(result.statusText + result.responseText);
                        }
                    });
                    return false;
                    

                });
            });
      
      </script>

  <script type="text/javascript">
	
	    
	//==============$("#products_datagrid")=================// 
    var $productsdatagrid = $("#products_datagrid")
	var productseditIndex = undefined;
    function products_endEditing() {
        if ( productseditIndex == undefined) { return true }
        if ($productsdatagrid.datagrid("validateRow", productseditIndex)) {
						$productsdatagrid.datagrid("endEdit", productseditIndex);
            productseditIndex = undefined;


            return true;
        } else {
            return false;
        }
    }
    function products_onClickCell(index, field) {
        if (productseditIndex != index) {
            if (products_endEditing()) {
                $productsdatagrid.datagrid("selectRow", index)
                        .datagrid("beginEdit", index);
                var ed = $productsdatagrid.datagrid("getEditor", { index: index, field: field });
                if (ed) {
                    ($(ed.target).data("textbox") ? $(ed.target).textbox("textbox") : $(ed.target)).focus();
                }
                productseditIndex  = index;
            } else {
                $productsdatagrid.datagrid("selectRow", productseditIndex);
            }
        }
    }
    function products_append() {
        if (products_endEditing()) {
            $productsdatagrid.datagrid("appendRow", { Status:0   });
            productseditIndex = $productsdatagrid.datagrid("getRows").length - 1;
            $productsdatagrid.datagrid("selectRow", productseditIndex )
                    .datagrid("beginEdit", productseditIndex);
        }
    }
    function products_removeit() {
        if (productseditIndex  == undefined) { return }
        $productsdatagrid.datagrid("cancelEdit", productseditIndex )
                .datagrid("deleteRow", productseditIndex );
        productseditIndex = undefined;
    }
   
    function products_reject() {
        $productsdatagrid.datagrid("rejectChanges");
        productseditIndex  = undefined;
    }
    function products_getChanges() {
        var rows = $productsdatagrid.datagrid("getChanges");
        alert(rows.length + " rows are changed!");
    }


	  
	$(function () {
	
		$.get("/Categories/GetProductsByCategoryId/" + @Model.Id,function(data){
            //console.log(data);
            $productsdatagrid.datagrid("loadData",data);
        
        })


	
	});
</script>


}
 
