

@model WebApp.Models.Category

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name,"" , new { @class = "text-danger" })
            </div>
        </div>
		

	<div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#tab-Products" aria-controls="tab-Products" role="tab" data-toggle="tab">Products</a></li>		 
								        
			 
   
		 </ul>
		 <!-- Tab panes -->
         <div class="tab-content">
		  
		  <div role="tabpanel" class="tab-pane active" id="tab-Products">
                <div id="toolbar" class="btn-group">
                    <button type="button" id="addProductsbutton" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>

                    <button type="button" id="removeProductsbutton" class="btn btn-default">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                <table id="products-table" data-search="true"
                       data-flat="false"
                       data-toolbar="#toolbar"
                       data-pagination="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-formatter="rowindexFormatter">#No</th>
				
                            <th data-field="Name">Name</th>
        		
                            <th data-field="Unit">Unit</th>
        		
                            <th data-field="UnitPrice">UnitPrice</th>
        		
                            <th data-field="StockQty">StockQty</th>
        		
                            <th data-field="ConfirmDateTime">ConfirmDateTime</th>
        		
                            <th data-field="CategoryId">CategoryId</th>
                                    <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                        </tr>
                    </thead>
                </table>

            </div>

		  
	</div>
</div>






