@{
    Layout = "~/Areas/Landing/Views/Shared/_Layout.cshtml";
}
		<!-- Section: #INTRO -->
<section class="intro">
    <div class="slogan">

        <!--
        #################################
        - THEMEPUNCH BANNER -
        #################################
        -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="/areas/landing/content/img/slider/homeslider_thumb1.jpg" data-saveperformance="on" data-title="Intro Slide">
                        <!-- MAIN IMAGE -->
                        <img src="/areas/landing/content/img/slider/dummy.png" alt="slidebg1" data-lazyload="/areas/landing/content/img/slider/slidebg1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lft customout rs-parallaxlevel-0"
                             data-x="695"
                             data-y="83"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="700"
                             data-start="1550"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 2;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/plate2.png">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption lft customout rs-parallaxlevel-0"
                             data-x="564"
                             data-y="96"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/plate1.png">
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption lft customout rs-parallaxlevel-0"
                             data-x="480"
                             data-y="99"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="700"
                             data-start="1100"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 4;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/woman1.png">
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-0"
                             data-x="197"
                             data-y="154"
                             data-speed="500"
                             data-start="2250"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 5; max-width: none; max-height: none; white-space: nowrap;">
                            Better!
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption customin rs-parallaxlevel-0"
                             data-x="86"
                             data-y="184"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 6;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/redbg.png">
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption black_heavy_60 skewfromleftshort tp-resizeme rs-parallaxlevel-0"
                             data-x="-2"
                             data-y="133"
                             data-speed="500"
                             data-start="1850"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 7; max-width: none; max-height: none; white-space: nowrap;">
                            Now
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_heavy_40 customin tp-resizeme rs-parallaxlevel-0"
                             data-x="98"
                             data-y="187"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2050"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 8; max-width: none; max-height: none; white-space: nowrap;">
                            Even
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                             data-x="78"
                             data-y="318"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2600"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.05"
                             data-endelementdelay="0.1"
                             style="z-index: 9; max-width: none; max-height: none; white-space: nowrap;">
                            <div style="text-align:center;">
                                SmartAdmin is highly acclaimed
                                <br />
                                WebApp hydra template with
                                <br />
                                multiple versions has been the
                                <br />
                                solution for many businesses
                                <br />
                                and have greatly been appricated
                                <br />
                                by developers world wide.
                            </div>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption black_thin_34 customin tp-resizeme rs-parallaxlevel-0"
                             data-x="58"
                             data-y="238"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2350"
                             data-easing="Back.easeOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 10; max-width: none; max-height: none; white-space: nowrap;">
                            Packed with features!
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption customin rs-parallaxlevel-0"
                             data-x="6"
                             data-y="290"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 11;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/greyline.png">
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0"
                             data-x="73"
                             data-y="502"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2900"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-linktoslide="next"
                             style="z-index: 12; max-width: none; max-height: none; white-space: nowrap;">
                            <a href='#' class='largeredbtn'>CONTINUE THE TOUR</a>
                        </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption arrowicon customin rs-parallaxlevel-0"
                             data-x="303"
                             data-y="526"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="3200"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-linktoslide="next"
                             style="z-index: 13;">
                            <div class=" rs-slideloop" data-easing="Power3.easeInOut"
                                 data-speed="0.5"
                                 data-xs="-5"
                                 data-xe="5"
                                 data-ys="0"
                                 data-ye="0">
                                <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-ww="18" data-hh="11" data-lazyload="/areas/landing/content/img/slider/doublearrow2.png">
                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000" data-thumb="/areas/landing/content/img/slider/homeslider_thumb2.jpg" data-delay="10000" data-saveperformance="on" data-title="Slide">
                        <!-- MAIN IMAGE -->
                        <img src="/areas/landing/content/img/slider/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="/areas/landing/content/img/slider/laptopmockup_sliderdy.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption customin fadeout rs-parallaxlevel-10"
                             data-x="848"
                             data-y="196"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="2700"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 2;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/redbg_big.png">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption light_heavy_70 customin fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="862"
                             data-y="204"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="2850"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 3; max-width: none; max-height: none; white-space: nowrap;">
                            Effect
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="717"
                             data-y="143"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 4; max-width: none; max-height: none; white-space: nowrap;">
                            Rendering
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption black_bold_40 skewfromrightshort fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="937"
                             data-y="282"
                             data-speed="500"
                             data-start="3200"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 5; max-width: none; max-height: none; white-space: nowrap;">
                            Improved!
                        </div>


                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="970"
                             data-y="367"
                             data-speed="300"
                             data-start="4000"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 6; max-width: none; max-height: none; white-space: nowrap;">
                            FASTER
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="939"
                             data-y="367"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="4000"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 7; max-width: none; max-height: none; white-space: nowrap;">
                            &nbsp;
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
                             data-x="948"
                             data-y="374"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="4200"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 8;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/areas/landing/content/img/slider/check.png">
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="970"
                             data-y="407"
                             data-speed="300"
                             data-start="4500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 9; max-width: none; max-height: none; white-space: nowrap;">
                            SMOOTHER
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="939"
                             data-y="407"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="4500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 10; max-width: none; max-height: none; white-space: nowrap;">
                            &nbsp;
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
                             data-x="948"
                             data-y="414"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="4700"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 11;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/areas/landing/content/img/slider/check.png">
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="970"
                             data-y="447"
                             data-speed="300"
                             data-start="5000"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 12; max-width: none; max-height: none; white-space: nowrap;">
                            EASY TO USE
                        </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
                             data-x="939"
                             data-y="447"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="5000"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 13; max-width: none; max-height: none; white-space: nowrap;">
                            &nbsp;
                        </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
                             data-x="948"
                             data-y="454"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="5200"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 14;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/areas/landing/content/img/slider/check.png">
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500" data-thumb="/areas/landing/content/img/slider/homeslider_thumb4.jpg" data-saveperformance="on" data-title="Mobile Interaction">
                        <!-- MAIN IMAGE -->
                        <img src="/areas/landing/content/img/slider/dummy.png" alt="slidebg1" data-lazyload="/areas/landing/content/img/slider/slidebg1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfb rs-parallaxlevel-9"
                             data-x="center" data-hoffset="-40"
                             data-y="bottom" data-voffset="-10"
                             data-speed="1500"
                             data-start="2400"
                             data-easing="Power4.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 2;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/ipad2.png">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin rs-parallaxlevel-1"
                             data-x="515"
                             data-y="331"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="4400"
                             data-easing="Power4.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 3;">
                            <div class=" rs-pulse" data-easing="Power4.easeInOut"
                                 data-speed="0.5"
                                 data-zoomstart="0.75"
                                 data-zoomend="1">
                                <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/pulse1.png">
                            </div>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption lfb rs-parallaxlevel-9"
                             data-x="693"
                             data-y="191"
                             data-speed="1500"
                             data-start="2900"
                             data-easing="Power4.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="300"
                             style="z-index: 5;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/iphone.png">
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption black_heavy_70 customin randomrotateout tp-resizeme rs-parallaxlevel-5"
                             data-x="315"
                             data-y="40"
                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                             data-speed="500"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600"
                             style="z-index: 6; max-width: none; max-height: none; white-space: nowrap;">
                            Mobile
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption customin randomrotateout rs-parallaxlevel-7"
                             data-x="434"
                             data-y="98"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="1900"
                             data-easing="Power3.easeInOut"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600"
                             style="z-index: 7;">
                            <img src="/areas/landing/content/img/slider/dummy.png" alt="" data-lazyload="/areas/landing/content/img/slider/largegreen.png">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption light_heavy_70 customin randomrotateout tp-resizeme rs-parallaxlevel-7"
                             data-x="448"
                             data-y="106"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="2200"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600"
                             style="z-index: 8; max-width: none; max-height: none; white-space: nowrap;">
                            Device
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption black_bold_40 skewfromrightshort randomrotateout tp-resizeme rs-parallaxlevel-6"
                             data-x="619"
                             data-y="177"
                             data-speed="500"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600"
                             style="z-index: 9; max-width: none; max-height: none; white-space: nowrap;">
                            Friendly
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>

    </div>
</section>
<!-- /Section: INTRO -->
<!-- Section: #PRICING -->
<section id="pricing" class="home-section text-center">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Our Deals</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-success pricing-big">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Lite version
                        </h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h1>
                                <strong>FREE</strong>
                            </h1>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Smart File Storage</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Download <span> now!</span></a>
                        <div>
                            Or <a href="javascript:void(0);">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-success pricing-big">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Personal Project
                        </h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h1>
                                $99<span class="subscript">/ mo</span>
                            </h1>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Smart File Storage</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
                        <div>
                            <a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-primary pricing-big">
                    <img src="/areas/landing/content/img/ribbon.png" class="ribbon">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Developer Bundle
                        </h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h1>
                                $350<span class="subscript">/ mo</span>
                            </h1>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> 2 years access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Smart File Storage</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
                        <div>
                            <a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-danger pricing-big">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Premium Package
                        </h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h1>
                                $999<span class="subscript">/ mo</span>
                            </h1>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Lifetime access <strong> to all storage locations</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> storage</li>
                                <li><i class="fa fa-check text-success"></i> Superbig <strong> download quota</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Smart File Storage</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> access to all files</li>
                                <li><i class="fa fa-check text-success"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-primary btn-block" role="button">Purchase <span>via Paypal</span></a>
                        <div>
                            <a href="javascript:void(0);"><i>We accept all major credit cards</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- /Section: PRICING -->
<!-- Section: #TEAM -->
<section id="team" class="home-section text-center bg-gray">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>SmartAdmin Team</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>John Doe</h5>
                        <p class="subtitle">
                            CEO
                        </p>
                        <div class="avatar">
                            <img src="/areas/landing/content/img/team/1.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Barley Kazurkth</h5>
                        <p class="subtitle">
                            Marketing Director
                        </p>
                        <div class="avatar">
                            <img src="/areas/landing/content/img/team/2.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Sadi Orlaf</h5>
                        <p class="subtitle">
                            Marketing Executive
                        </p>
                        <div class="avatar">
                            <img src="/areas/landing/content/img/team/3.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Tony Shark</h5>
                        <p class="subtitle">
                            Programmer
                        </p>
                        <div class="avatar">
                            <img src="/areas/landing/content/img/team/4.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: TEAM -->
<!-- Section: #FEATURES -->
<section id="features" class="home-section text-center">

    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>The Power of SmartAdmin</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-code fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Localization</h5>
                        <p>
                            Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-suitcase fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Compact</h5>
                        <p>
                            Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-cog fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>State of the Art</h5>
                        <p>
                            Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-rocket fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Cloud System</h5>
                        <p>
                            Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: FEATURES -->
<!-- Section: #SCREENSHOT -->
<section id="screenshots" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Screenshots</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="row gallery-item">
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/1.jpg"> <img src="/areas/landing/content/img/works/1.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/2.jpg"> <img src="/areas/landing/content/img/works/2.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/3.jpg"> <img src="/areas/landing/content/img/works/3.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/4.jpg"> <img src="/areas/landing/content/img/works/4.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/5.jpg"> <img src="/areas/landing/content/img/works/5.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/6.jpg"> <img src="/areas/landing/content/img/works/6.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/7.jpg"> <img src="/areas/landing/content/img/works/7.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/areas/landing/content/img/works/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/areas/landing/content/img/works/8.jpg"> <img src="/areas/landing/content/img/works/8.jpg" class="img-responsive" alt="img"> </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: SCREENSHOT -->
<!-- Section: #UPDATES -->
<section id="updates" class="home-section text-center">
    <div class="heading-contact marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Updates</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="timeline-centered">

                <article class="timeline-entry">

                    <div class="timeline-entry-inner">
                        <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>

                        <div class="timeline-icon bg-success">
                            <i class="entypo-feather"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">SmartAdmin:</a> <span>Patch was released today</span></h2>
                            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                        </div>
                    </div>

                </article>


                <article class="timeline-entry left-aligned">

                    <div class="timeline-entry-inner">
                        <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>4 weeks ago</span></time>

                        <div class="timeline-icon bg-secondary">
                            <i class="entypo-suitcase"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">SmartAdmin goes public!</a></h2>
                            <p>Yahoo buys a share in <strong>SmartAdmin</strong></p>
                        </div>
                    </div>

                </article>


                <article class="timeline-entry">

                    <div class="timeline-entry-inner">
                        <time class="timeline-time" datetime="2014-01-09T13:22"><span>03:45 AM</span> <span>3 months ago</span></time>

                        <div class="timeline-icon bg-info">
                            <i class="entypo-location"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">SmartAdmin Convention</a> <span>checked in at</span> <a href="#">Laborator</a></h2>

                            <blockquote>Place was booked till 3am!</blockquote>

                            <div id="sample-checkin" class="map-checkin" style="height: 170px; width: 100%; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
                                <div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
                                    <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 200;">
                                                <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                            </div>
                                            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 201;">
                                                <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                                <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                                    <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                                                            <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px;">
                                                                <canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
                                                            </div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 202;">
                                                <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
                                            </div>
                                            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                                                        <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                                <div style="overflow: hidden; width: 431px; height: 170px;">
                                                    <img src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&1i701363&2i1636267&2e1&3u14&4m2&1u431&2u170&5m4&1e0&5spt-BR&6sus&10b1&token=8503" style="width: 421px; height: 160px;">
                                                </div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                                <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt0.googleapis.com/vt?lyrs=m@248313357&src=apiv3&hl=pt-BR&x=2740&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt0.googleapis.com/vt?lyrs=m@248254527&src=apiv3&hl=pt-BR&x=2740&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248282439&src=apiv3&hl=pt-BR&x=2739&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248011677&src=apiv3&hl=pt-BR&x=2739&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                        <a target="_blank" href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3" title="Clique para ver esta área no Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                                            <div style="width: 62px; height: 26px; cursor: pointer;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 192px; bottom: 0px; width: 85px;">
                                        <div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;">
                                            <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                                <div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                            </div>
                                            <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
                                                <a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Dados do mapa</a><span style="display: none;">Dados cartográficos ©2014 Google</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 118px; position: absolute; left: 61px; top: 5px;">
                                        <div style="padding: 0px 0px 10px; font-size: 16px;">
                                            Dados do mapa
                                        </div>
                                        <div style="font-size: 13px;">
                                            Dados cartográficos ©2014 Google
                                        </div>
                                        <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;">
                                            <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                        </div>
                                    </div>
                                    <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                                        <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">
                                            Dados cartográficos ©2014 Google
                                        </div>
                                    </div>
                                    <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 113px; bottom: 0px;">
                                        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                            <div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                        </div>
                                        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
                                            <a href="http://www.google.com/intl/pt-BR_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Termos de Uso</a>
                                        </div>
                                    </div>
                                    <div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;">
                                        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                            <div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                        </div>
                                        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
                                            <a target="_new" title="Informar erros no mapa ou nas imagens para o Google" href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3&skstate=action:mps_dialog$apiref:1&output=classic" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Informar erro no mapa</a>
                                        </div>
                                    </div>
                                    <div class="gmnoprint" draggable="false" controlwidth="32" controlheight="84" style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;">
                                        <div controlwidth="32" controlheight="40" style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 0px; top: 0px;">
                                            <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -9px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                            <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -107px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                            <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -58px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                            <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -205px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                        </div>
                                        <div class="gmnoprint" controlwidth="0" controlheight="0" style="opacity: 0.6; display: none; position: absolute;">
                                            <div title="Girar o mapa em 90 graus" style="width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -38px; top: -360px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div>
                                        </div>
                                        <div class="gmnoprint" controlwidth="20" controlheight="39" style="position: absolute; left: 6px; top: 45px;">
                                            <div style="width: 20px; height: 39px; overflow: hidden; position: absolute;">
                                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -39px; top: -401px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                            </div><div title="Aumentar o zoom" style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;"></div><div title="Diminuir o zoom" style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;"></div>
                                        </div>
                                    </div>
                                    <div class="gmnoprint" style="margin: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px;">
                                        <div class="gm-style-mtc" style="float: left;">
                                            <div draggable="false" title="Mostrar mapa de ruas" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 28px; font-weight: 500;">
                                                Mapa
                                            </div>
                                            <div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 19px; text-align: left; display: none;">
                                                <div draggable="false" title="Mostrar mapa de ruas com terreno" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;">
                                                    <span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;">
                                                        <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
                                                            <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                        </div>
                                                    </span><label style="vertical-align: middle; cursor: pointer;">Terreno</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gm-style-mtc" style="float: left;">
                                            <div draggable="false" title="Mostrar imagens de satélite" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 36px;">
                                                Satélite
                                            </div>
                                            <div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 19px; text-align: left; display: none;">
                                                <div draggable="false" title="Aumentar o zoom para a visualização de 45 graus" style="color: rgb(184, 184, 184); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap; display: none;">
                                                    <span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;">
                                                        <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
                                                            <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                        </div>
                                                    </span><label style="vertical-align: middle; cursor: pointer;">45°</label>
                                                </div>
                                                <div draggable="false" title="Mostrar imagens com nomes de rua" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;">
                                                    <span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;">
                                                        <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;">
                                                            <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                        </div>
                                                    </span><label style="vertical-align: middle; cursor: pointer;">Marcadores</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </article>


                <article class="timeline-entry left-aligned">

                    <div class="timeline-entry-inner">
                        <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>8 months ago</span></time>

                        <div class="timeline-icon bg-warning">
                            <i class="entypo-camera"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">We have lift off!</a></h2>

                            <blockquote>SmartAdmin Launched with grace and beauty</blockquote>

                        </div>
                    </div>

                </article>


                <article class="timeline-entry begin">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i>
                        </div>

                    </div>

                </article>

            </div>
        </div>
    </div>
</section>
<!-- /Section: UPDATES -->
<!-- Section: #QUOTES -->
<section id="quotes" class="home-section text-center bg-gray">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Consectetur adipisicing elit. Quidem, veritatis  aut eius animi. Impedit temporibus nisi accusamus.</p>
                            </blockquote>
                            <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Section: QUOTES -->
<!-- Section: #CONTACT -->
<section id="contact" class="home-section text-center">
    <div class="heading-contact marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Get in touch</h2>
                        <p>
                            Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <div class="boxed-grey">
                    <form id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"> Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email"> Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject"> Subject</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="service">General Customer Service</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="product">Product Support</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"> Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="widget-contact row">
                    <div class="col-lg-6">
                        <address>
                            <strong>SMARTADMIN Ltd.</strong>
                            <br>
                            Big Villa 334 Awesome, Beautiful Suite 1200
                            <br>
                            San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>

                    <div class="col-lg-6">
                        <address>
                            <strong>Email</strong>
                            <br>
                            <a href="mailto:#">email.name@example.com</a>
                            <br />
                            <a href="mailto:#">name.name@example.com</a>
                        </address>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- /Section: CONTACT -->
<!-- #BOTTOM CONTENT -->
<div class="bottom-content">
    <div class="container custom-container text-center">
        <h2>We Always Try to Create a Difference</h2>
        <p>
            Thank you for buying this template :)
        </p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0" class="btn btn-default btn-lg purchase">Purchase SmartAdmin</a>
    </div>
</div>
<!-- /#BOTTOM CONTENT -->